{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ student.name if student else ''}}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ student.email if student else ''}}" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="{{ student.age if student else ''}}" required>
        </div>
        <div>
            <label for="department">Department</label>
            <input type="text" id="department" name="department" value="{{ student.department if student else ''}}" required>
        </div>
        <div>
            <label for="year">Year:</label>
            <select id="year" name="year" required>
                <option value="" disabled selected>Select Year</option>
                <option value="1" {% if student and student.year == '1' %}selected{% endif %}>1</option>
                <option value="2" {% if student and student.year == '2' %}selected{% endif %}>2</option>
                <option value="3" {% if student and student.year == '3' %}selected{% endif %}>3</option>
                <option value="4" {% if student and student.year == '4' %}selected{% endif %}>4</option>
            </select>
        </div>
        <div>
            <label for="section">Section:</label>
            <input type="text" id="section" name="section" value="{{ student.section if student else '' }}" required>
        </div>
        <div>
            <label for="roll_no">Roll No:</label>
            <input type="number" id="roll_no" name="roll_no" value="{{ student.roll_no if student else '' }}" required>
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}